.navbar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#912280+0,2989d8+61,7db9e8+100 */
    background: #912280; /* Old browsers */
    background: -moz-linear-gradient(left, #912280 0%, #2989d8 61%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #912280 0%,#2989d8 61%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #912280 0%,#2989d8 61%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#912280', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    border-radius: 0% !important;
    margin: auto;
}
.navbar a {
    color: white !important;
}

