<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Jadwal Ane{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% block content %}
    <form id="form" action={% url 'portfolio:message_post'} method='POST'>
        {%csrf_token%}
        {{form}}
        <button class="btn btn-primary" type="submit" form="form" value="Submit">Submit</button>
    </form>
    <form id="del" action={% url 'portfolio:delete_recs'} method="GET">
            <button class="btn btn-danger" type="reset" value="Reset">Delete Records</button>
    </form>
    
    <table class="table">
            <thead>
                <th>Name</th>
                <th>Location</th>
                <th>Category</th>
                <th>Event Date</th>
            </thead>
            <tbody>
                {% for i in result %}
                <tr>
                    <td> {{i.name}} </td>
                    <td> {{i.place}} </td>
                    <td> {{i.category}} </td>
                    <td> {{i.date}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endblock %}
</body>
</html>