.navbar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#42b0d6+17,92fe9d+100 */
background: #42b0d6; /* Old browsers */
background: -moz-linear-gradient(-45deg, #42b0d6 17%, #92fe9d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #42b0d6 17%,#92fe9d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #42b0d6 17%,#92fe9d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b0d6', endColorstr='#92fe9d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 0% !important;
    margin: auto;
    justify-content: right;
    
}
.navbar a {
    color: white !important;
}

.col-6 {
    outline-color: black;
}