<!DOCTYPE html>
{% extends "header.html" %}
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}Facts!{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% block content %}
        <div>
            Teaching Assistant at Fasilkom UI<br>
            Staff at BEM Fasilkom UI
        </div>
    {% endblock %}
</body>
</html>